sudo: required
dist: trusty
language: ruby
rvm:
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - jruby-9.1.5.0
before_install:
  - gem update --system
  - gem --version
  - gem update bundler
bundler_args: "--binstubs --path=vendor --without=guard"
env:
  - RIAK_DOWNLOAD_URL=http://s3.amazonaws.com/downloads.basho.com/riak/2.0/2.0.7/ubuntu/trusty/riak_2.0.7-1_amd64.deb
  - RIAK_DOWNLOAD_URL=http://s3.amazonaws.com/downloads.basho.com/riak/2.1/2.1.4/ubuntu/trusty/riak_2.1.4-1_amd64.deb
before_script:
  - sudo ./tools/travis-ci/riak-install -d "$RIAK_DOWNLOAD_URL"
  - sudo ./tools/setup-riak -s
script:
  - sudo riak-admin security disable
  - make test
  - sudo riak-admin security enable
  - make security-test
notifications:
  slack:
    secure: nryEZNlLs0xpMJcrmTRzJIaFdfHWigsD4i9zEI8SgDdHqEgJ52/UfCifWHC7N4UckpRkmMUc8yt/Y4YS7G4Gu4yx4qXNIL33VmuudUe2YEVv+oVnG9oHVPkHDvOkRSLlWyAIqd4uXbLzghYBrHigoinfCcmjjRq5HNocRrvnwdE=
