# This file is used for configuring test_client used by
# many of the integration tests.
#
# Simply set the arguments you'd normally pass to
# Riak::Client.new in the file.
#
# Don't run multiple nodes, integration tests include
# quorum checks that may result in race conditions.

pb_port: 10017